flows_grovepi.json
[{"id":"454a3c31.b074e4","type":"tab","label":"Flow 1"},{"id":"50389005.ecefd","type":"tab","label":"Darwin","disabled":false,"info":""},{"id":"69d21df8.6bf044","type":"tab","label":"TCP Server"},{"id":"48aafd8d.be8e64","type":"board-config","z":"","board":"GrovePi"},{"id":"1890b15e.22c57f","type":"json-db-collection","z":"","name":"Alarms","collection":"Alarms","save":true},{"id":"16aa267d.57adaa","type":"grove analog sensor","z":"454a3c31.b074e4","name":"Sense Sound","pin":"0","sensor":"sound","repeat":"1","board":"48aafd8d.be8e64","x":164.5,"y":300,"wires":[["143ac284.23ef3d","f1aa335e.3a8e2"]]},{"id":"143ac284.23ef3d","type":"debug","z":"454a3c31.b074e4","name":"","active":false,"console":"false","complete":"true","x":310,"y":260,"wires":[]},{"id":"f1aa335e.3a8e2","type":"rbe","z":"454a3c31.b074e4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":310,"y":340,"wires":[["8400999.184ca68"]]},{"id":"8400999.184ca68","type":"debug","z":"454a3c31.b074e4","name":"","active":false,"console":"false","complete":"true","x":470,"y":360,"wires":[]},{"id":"19a30a92.705345","type":"grove analog sensor","z":"454a3c31.b074e4","name":"","pin":"1","sensor":"light","repeat":"1","board":"48aafd8d.be8e64","x":150,"y":380,"wires":[["f1aa335e.3a8e2","7f5ad94e.b7ed08"]]},{"id":"7f5ad94e.b7ed08","type":"debug","z":"454a3c31.b074e4","name":"","active":false,"console":"false","complete":"true","x":310,"y":420,"wires":[]},{"id":"eb4b4ef4.fa1ec","type":"inject","z":"50389005.ecefd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":420,"wires":[["2799fe64.5ef242"]]},{"id":"2799fe64.5ef242","type":"file in","z":"50389005.ecefd","name":"","filename":"/home/bdb/alarms","format":"utf8","chunk":false,"sendError":false,"x":350,"y":420,"wires":[["680c61e5.fad67"]]},{"id":"ba73980b.90f818","type":"debug","z":"50389005.ecefd","name":"","active":true,"console":"false","complete":"true","x":770,"y":460,"wires":[]},{"id":"b2cf2427.8e9818","type":"bigsplitter","z":"50389005.ecefd","name":"","property":"payload.data","x":640,"y":420,"wires":[["6ac0fb72.649cd4","4fb8e6a8.7d38d8"],["ba73980b.90f818"]]},{"id":"680c61e5.fad67","type":"json","z":"50389005.ecefd","name":"","pretty":false,"x":510,"y":420,"wires":[["b2cf2427.8e9818"]]},{"id":"6bf1ba3c.11ba04","type":"debug","z":"50389005.ecefd","name":"Case Temp Hi Limit","active":false,"console":"false","complete":"true","x":1750,"y":760,"wires":[]},{"id":"275630b6.9354b","type":"tcp in","z":"69d21df8.6bf044","name":"","server":"server","host":"","port":"3001","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":360,"y":340,"wires":[["6f270ca4.e1ffa4"]]},{"id":"c7a189a7.ee1038","type":"tcp out","z":"69d21df8.6bf044","host":"localhost","port":"3001","beserver":"client","base64":false,"end":false,"name":"","x":450,"y":60,"wires":[]},{"id":"6f270ca4.e1ffa4","type":"debug","z":"69d21df8.6bf044","name":"","active":true,"console":"false","complete":"false","x":560,"y":340,"wires":[]},{"id":"6249e89a.f47b68","type":"inject","z":"69d21df8.6bf044","name":"","topic":"","payload":"hello\\world","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":60,"wires":[["c7a189a7.ee1038"]]},{"id":"fba97c6e.581d9","type":"tcp in","z":"69d21df8.6bf044","name":"Server holding connections at :3001","server":"server","host":"","port":"3001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"text","base64":false,"x":180,"y":820,"wires":[["9a9368b0.3a8818","2c55978c.d40d28"]]},{"id":"4b99ce95.e992","type":"tcp out","z":"69d21df8.6bf044","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply: all open connections will be messaged","x":870,"y":780,"wires":[]},{"id":"c64e8ee4.ef7af","type":"debug","z":"69d21df8.6bf044","name":"show incomming text at the debug tab","active":true,"console":"false","complete":"payload","x":710,"y":860,"wires":[]},{"id":"87fe090c.3e54a8","type":"inject","z":"69d21df8.6bf044","name":"button: create a msg","topic":"","payload":"Hello from Node-RED server.","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":700,"wires":[["1df3c21f.949ade"]]},{"id":"1030fca7.d92b73","type":"debug","z":"69d21df8.6bf044","name":"show incomming text at the debug tab","active":true,"console":"false","complete":"payload","x":630,"y":1380,"wires":[]},{"id":"59aa53cd.d10cec","type":"inject","z":"69d21df8.6bf044","name":"button: create a msg","topic":"","payload":"Hello from Node-RED client.","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1200,"wires":[["21bd47bd.0909b8"]]},{"id":"c3caa818.b54318","type":"tcp out","z":"69d21df8.6bf044","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply: the server will get messaged","x":660,"y":1240,"wires":[]},{"id":"b77d4dff.f9f04","type":"tcp in","z":"69d21df8.6bf044","name":"Node-RED Client","server":"client","host":"localhost","port":"1025","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"text2","base64":false,"x":120,"y":1340,"wires":[["39be3a8c.bd8bb6","aed7e12f.90b0c"]]},{"id":"39be3a8c.bd8bb6","type":"template","z":"69d21df8.6bf044","name":"\"CLIENT GOT:\" +","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CLIENT GOT:\n{{payload}}","x":330,"y":1380,"wires":[["1030fca7.d92b73"]]},{"id":"9a9368b0.3a8818","type":"template","z":"69d21df8.6bf044","name":"\"SERVER GOT:\" +","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SERVER GOT:\n{{payload}}","x":430,"y":860,"wires":[["c64e8ee4.ef7af"]]},{"id":"2c55978c.d40d28","type":"template","z":"69d21df8.6bf044","name":"modify received msg to be send back","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You were sending: {{payload}}\n","x":490,"y":780,"wires":[["4b99ce95.e992"]]},{"id":"4dcdbdaa.a7ef04","type":"comment","z":"69d21df8.6bf044","name":"Telnet client: open your command prompt, and type: `telnet localhost 1025` and start typing","info":"Telnet client: open your command prompt, and type: `telnet localhost 1025` and start typing","x":360,"y":1520,"wires":[]},{"id":"4f336897.229fa8","type":"tcp in","z":"69d21df8.6bf044","name":"Proxy: fixing client with no NL :1026","server":"server","host":"","port":"1026","datamode":"stream","datatype":"utf8","newline":"","topic":"text","base64":false,"x":180,"y":1080,"wires":[["10f06e16.a1fad2"]]},{"id":"10f06e16.a1fad2","type":"template","z":"69d21df8.6bf044","name":"fix incomming message with a newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}\n","x":490,"y":1080,"wires":[["a7ed1525.865e48"]]},{"id":"21bd47bd.0909b8","type":"template","z":"69d21df8.6bf044","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}\n","x":420,"y":1200,"wires":[["c3caa818.b54318"]]},{"id":"1df3c21f.949ade","type":"template","z":"69d21df8.6bf044","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}\n","x":560,"y":700,"wires":[["4b99ce95.e992"]]},{"id":"a7ed1525.865e48","type":"tcp request","z":"69d21df8.6bf044","server":"localhost","port":"1025","out":"time","splitc":"0","name":"connect the Node-RED server","x":830,"y":1080,"wires":[["b4f3ec2a.158c"]]},{"id":"b4f3ec2a.158c","type":"tcp out","z":"69d21df8.6bf044","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply: any answer back to the client","x":1160,"y":1080,"wires":[]},{"id":"23dec22d.0e80ee","type":"inject","z":"69d21df8.6bf044","name":"button: open telnet to 1025 (windows)","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":910,"y":1520,"wires":[["cd33d5bc.282628","45c30749.011218"]]},{"id":"cd33d5bc.282628","type":"exec","z":"69d21df8.6bf044","command":"start","addpay":false,"append":"telnet localhost 1025","useSpawn":false,"timer":"","name":"start telnet","x":1150,"y":1520,"wires":[[],[],[]]},{"id":"45c30749.011218","type":"delay","z":"69d21df8.6bf044","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1580,"wires":[["30d69170.a5a96e"]]},{"id":"30d69170.a5a96e","type":"exec","z":"69d21df8.6bf044","command":"msg","addpay":false,"append":"%username% \"start by pressing enter\"","useSpawn":false,"timer":"","name":"msg box","x":1140,"y":1620,"wires":[[],[],[]]},{"id":"aed7e12f.90b0c","type":"template","z":"69d21df8.6bf044","name":"no msg back, we do behave!","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":360,"y":1280,"wires":[["c3caa818.b54318"]]},{"id":"9be9a7c7.213748","type":"function","z":"50389005.ecefd","name":"Format Fail","func":"var advid = msg.payload.advid;\nvar advcode = msg.payload.advcode;\nvar timestamp = msg.payload.timestamp;\nvar source = msg.payload.source;\nvar controller = msg.payload.source[0];\nvar application = msg.payload.source[1];\nvar point = msg.payload.source[2];\nvar state = msg.payload.state;\nvar text = msg.payload.text;\nvar alarm = msg.payload.alarm;\nvar notice = msg.payload.notice;\nvar fail = msg.payload.fail;\nvar unacked = msg.payload.unacked;\nvar acked = msg.payload.acked;\nvar reset = msg.payload.reset;\nvar rtn = msg.payload.rtn;\nvar ackuser = msg.payload.ackuser;\nvar acktimestamp = msg.payload.acktimestamp;\nvar priority = msg.payload.priority;\nvar rtntimestamp = msg.payload.rtntimestamp;\nvar reportvalue = msg.payload.reportvalue;\nvar limit = msg.payload.limit;\nvar engunits = msg.payload.engUnits;\n\nreturn {topic:\"darwin/fail\", payload: application, advid, advcode, source, controller, application, point, text, state, priority,};\n","outputs":1,"noerr":0,"x":1290,"y":340,"wires":[["af0393a3.ac5d","2e04983f.252378"]]},{"id":"43409506.fb182c","type":"function","z":"50389005.ecefd","name":"Fail/Alarm/Notice","func":"if (msg.payload.fail === true) {\n  return [ msg, null, null ];\n} else if (msg.payload.alarm === true) {\n   return [ null, msg, null ];\n} else {\n   return [null, null, msg];\n}","outputs":"3","noerr":0,"x":1030,"y":400,"wires":[["9be9a7c7.213748"],["73d5fb9d.0ea054"],["f7e33496.49b228"]]},{"id":"cb6bb8fd.f36078","type":"debug","z":"50389005.ecefd","name":"Oil Failure Occurred","active":true,"console":"false","complete":"true","x":1740,"y":200,"wires":[]},{"id":"466656ee.39b5d8","type":"debug","z":"50389005.ecefd","name":"Battery Runtime Limit","active":false,"console":"false","complete":"true","x":1760,"y":680,"wires":[]},{"id":"f7e33496.49b228","type":"debug","z":"50389005.ecefd","name":"Notice","active":false,"console":"false","complete":"true","x":1270,"y":900,"wires":[]},{"id":"4fb8e6a8.7d38d8","type":"function","z":"50389005.ecefd","name":"Make Asset","func":"msg.payload.source = msg.payload.source.split(\":\");\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["43409506.fb182c"]]},{"id":"6ac0fb72.649cd4","type":"debug","z":"50389005.ecefd","name":"","active":false,"console":"false","complete":"true","x":770,"y":320,"wires":[]},{"id":"af0393a3.ac5d","type":"switch","z":"50389005.ecefd","name":"","property":"advcode","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"22","vt":"num"},{"t":"eq","v":"23","vt":"num"},{"t":"eq","v":"24","vt":"num"},{"t":"eq","v":"25","vt":"num"},{"t":"else"}],"checkall":"true","outputs":9,"x":1510,"y":200,"wires":[["c4b69faf.4570e"],["a93a1eb3.d3c81"],["a93a1eb3.d3c81"],["a93a1eb3.d3c81"],["2064bf1c.62d94"],["cb6bb8fd.f36078"],["e2faf564.fd4358"],["ffbf849.39dd178"],["e6358cbd.59286"]]},{"id":"2064bf1c.62d94","type":"debug","z":"50389005.ecefd","name":"Proof Fail","active":false,"console":"false","complete":"true","x":1700,"y":160,"wires":[]},{"id":"39cf42d9.c6712e","type":"debug","z":"50389005.ecefd","name":"","active":true,"console":"false","complete":"true","x":1850,"y":380,"wires":[]},{"id":"2e04983f.252378","type":"neuralnet","z":"50389005.ecefd","name":"neuralnet","learningRate":0.3,"errorThresh":0.005,"iterations":20000,"log":true,"logPeriod":10,"nntype":"0","x":1695.5,"y":382,"wires":[["39cf42d9.c6712e"]]},{"id":"73d5fb9d.0ea054","type":"function","z":"50389005.ecefd","name":"Format Alarm","func":"var advid = msg.payload.advid;\nvar advcode = msg.payload.advcode;\nvar timestamp = msg.payload.timestamp;\nvar source = msg.payload.source;\nvar controller = msg.payload.source[0];\nvar application = msg.payload.source[1];\nvar point = msg.payload.source[2];\nvar state = msg.payload.state;\nvar text = msg.payload.text;\nvar alarm = msg.payload.alarm;\nvar notice = msg.payload.notice;\nvar fail = msg.payload.fail;\nvar unacked = msg.payload.unacked;\nvar acked = msg.payload.acked;\nvar reset = msg.payload.reset;\nvar rtn = msg.payload.rtn;\nvar ackuser = msg.payload.ackuser;\nvar acktimestamp = msg.payload.acktimestamp;\nvar priority = msg.payload.priority;\nvar rtntimestamp = msg.payload.rtntimestamp;\nvar reportvalue = msg.payload.reportvalue;\nvar limit = msg.payload.limit;\nvar engunits = msg.payload.engUnits;\n\nreturn {topic:\"darwin/alarm\", payload: application, advid, advcode, source, controller, application, point, reportvalue, limit, text, state, priority,};\n","outputs":1,"noerr":0,"x":1300,"y":480,"wires":[["1aa973c5.f77c4c"]]},{"id":"1aa973c5.f77c4c","type":"switch","z":"50389005.ecefd","name":"","property":"advcode","propertyType":"msg","rules":[{"t":"eq","v":"70","vt":"num"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":1550,"y":720,"wires":[["466656ee.39b5d8"],["dd60c17.d79084"],["6bf1ba3c.11ba04"],["e7f0f30b.d5745"],["33b52b84.7ab7d4"]]},{"id":"dd60c17.d79084","type":"debug","z":"50389005.ecefd","name":"Alarm Limit Exceeded (Suction Failure?)","active":false,"console":"false","complete":"true","x":1820,"y":720,"wires":[]},{"id":"e7f0f30b.d5745","type":"debug","z":"50389005.ecefd","name":"Case Temp Low Limit","active":false,"console":"false","complete":"true","x":1760,"y":800,"wires":[]},{"id":"33b52b84.7ab7d4","type":"debug","z":"50389005.ecefd","name":"Otherwise","active":false,"console":"false","complete":"true","x":1720,"y":840,"wires":[]},{"id":"e2faf564.fd4358","type":"debug","z":"50389005.ecefd","name":"Phase Failure Occurred","active":false,"console":"false","complete":"true","x":1750,"y":240,"wires":[]},{"id":"c4b69faf.4570e","type":"debug","z":"50389005.ecefd","name":"Controller or Device Absent from Network","active":false,"console":"false","complete":"true","x":1800,"y":60,"wires":[]},{"id":"a93a1eb3.d3c81","type":"debug","z":"50389005.ecefd","name":"Failed Sensor/Input Open or Short","active":false,"console":"false","complete":"true","x":1780,"y":120,"wires":[]},{"id":"ffbf849.39dd178","type":"debug","z":"50389005.ecefd","name":"Rack Failure Occurred","active":false,"console":"false","complete":"true","x":1740,"y":280,"wires":[]},{"id":"e6358cbd.59286","type":"debug","z":"50389005.ecefd","name":"Otherwise","active":false,"console":"false","complete":"true","x":1700,"y":320,"wires":[]}]